{% extends "layout.njk" %}

{% block content %}
<main class="w-full px-4 relative overflow-hidden">
  {% if page.published.slug %}
    {% for p in page.published.slug %}
      {% if p.slug == "home" %}
        {% if p.sections %}
          {% for section in p.sections %}
            <section 
              id="{{ section.__component }}"
              class="w-full transform transition-all duration-1000 ease-[cubic-bezier(0.33,1,0.68,1)] opacity-100 blur-0 scale-100
                {% if section.__component == 'sections.hero-section' %} pb-10
                {% elif section.__component == 'sections.card-section' %} my-16 bg-custom-blue p-10 rounded-3xl
                {% elif section.__component == 'sections.founder-section' %} my-16 bg-custom-blue p-10 rounded-3xl
                {% else %} my-32 {% endif %}
                max-w-screen-2xl mx-auto sticky top-0 z-{{ loop.index }} section-scroll">
              
              {% include "sections/" + section.__component + ".njk" %}
            </section>
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
</main>
{% endblock %}